{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0"
  },
  "servers": [
    {
      "url": "http://stroy.joynoma.uz",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/api/v1/seller/update": {
      "put": {
        "tags": ["seller-controller"],
        "operationId": "update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqSellerUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/product/update": {
      "put": {
        "tags": ["product-controller"],
        "operationId": "update_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqProductUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/filter/update": {
      "put": {
        "tags": ["filter-controller"],
        "operationId": "update_2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqFilterUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/filter-group/update": {
      "put": {
        "tags": ["filter-group-controller"],
        "operationId": "update_3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqFilterGroupUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customer/update": {
      "put": {
        "tags": ["customer-controller"],
        "operationId": "updateCustomer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqCustomerUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/category/update": {
      "put": {
        "tags": ["category-controller"],
        "operationId": "update_4",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqCategoryUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/authorization/role/update": {
      "put": {
        "tags": ["authorization-controller"],
        "operationId": "updateRole",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqUserRoleUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/attribute/update": {
      "put": {
        "tags": ["attribute-controller"],
        "operationId": "update_5",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqAttributeUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/attribute-group/update": {
      "put": {
        "tags": ["attribute-group-controller"],
        "operationId": "update_6",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqAttributeGroupUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/advertisement/update": {
      "put": {
        "tags": ["advertisement-controller"],
        "operationId": "update_7",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqAdvertisementUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/update": {
      "put": {
        "tags": ["admin-controller"],
        "operationId": "updateAdmin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqAdminUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/seller/init": {
      "post": {
        "tags": ["seller-controller"],
        "operationId": "initSeller",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqSellerInit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/seller/confirm": {
      "post": {
        "tags": ["seller-controller"],
        "operationId": "confirmSeller",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqSellerConfirm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/product/create": {
      "post": {
        "tags": ["product-controller"],
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqProductCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/product/calculate-price": {
      "post": {
        "tags": ["product-controller"],
        "operationId": "calculatePrice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqProductCalculatePrice"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResProductCalculatePrice"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/filter/create": {
      "post": {
        "tags": ["filter-controller"],
        "operationId": "create_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqFilterCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/filter-group/create": {
      "post": {
        "tags": ["filter-group-controller"],
        "operationId": "create_2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqFilterGroupCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/file/upload": {
      "post": {
        "tags": ["file-controller"],
        "operationId": "upload",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": ["file"],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResFileOne"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/file/delete": {
      "post": {
        "tags": ["file-controller"],
        "operationId": "delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqDeleteItem"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/category/create": {
      "post": {
        "tags": ["category-controller"],
        "operationId": "create_3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqCategoryCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/authorization/role/create": {
      "post": {
        "tags": ["authorization-controller"],
        "operationId": "createRole",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqUserRoleCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/token/refresh": {
      "post": {
        "tags": ["sign-controller"],
        "operationId": "tokenRefresh",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqTokenRefresh"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResSignIn"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/init/customer": {
      "post": {
        "tags": ["sign-controller"],
        "operationId": "initCustomer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqSignInForCustomer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/confirm/customer": {
      "post": {
        "tags": ["sign-controller"],
        "operationId": "confirmCustomer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqSignInForCustomer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResSignIn"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/admin/sign": {
      "post": {
        "tags": ["sign-controller"],
        "operationId": "signInForAdmin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqSignInForAdmin"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResSignIn"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/attribute/create": {
      "post": {
        "tags": ["attribute-controller"],
        "operationId": "create_4",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqAttributeCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/attribute-group/create": {
      "post": {
        "tags": ["attribute-group-controller"],
        "operationId": "create_5",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqAttributeGroupCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/advertisement/create": {
      "post": {
        "tags": ["advertisement-controller"],
        "operationId": "create_6",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReqAdvertisementCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/seller/get/{uuid}": {
      "get": {
        "tags": ["seller-controller"],
        "operationId": "getByUuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResSellerOne"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/seller/get/list": {
      "get": {
        "tags": ["seller-controller"],
        "operationId": "getAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "fullName",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["ACTIVE", "INACTIVE", "BLOCKED"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomPageResSellerOne"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/product/get/{uuid}": {
      "get": {
        "tags": ["product-controller"],
        "operationId": "getByUuid_1",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResProductOne"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/product/get/list": {
      "get": {
        "tags": ["product-controller"],
        "operationId": "getAll_1",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryUuid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "sellerUuid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomPageResProductOne"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/filter/get/{uuid}": {
      "get": {
        "tags": ["filter-controller"],
        "operationId": "getByUuid_2",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResFilterOne"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/filter/get/list": {
      "get": {
        "tags": ["filter-controller"],
        "operationId": "getAllByFilterGroupUuid",
        "parameters": [
          {
            "name": "filterGroupUuid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResFilterOne"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/filter/get/list/page": {
      "get": {
        "tags": ["filter-controller"],
        "operationId": "getAll_2",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomPageResFilterOne"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/filter-group/get/{uuid}": {
      "get": {
        "tags": ["filter-group-controller"],
        "operationId": "getByUuid_3",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResFilterGroupOne"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/filter-group/get/search": {
      "get": {
        "tags": ["filter-group-controller"],
        "operationId": "search",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomPageResFilterGroupOne"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/filter-group/get/list": {
      "get": {
        "tags": ["filter-group-controller"],
        "operationId": "getAll_3",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomPageResFilterGroupOne"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customer/me": {
      "get": {
        "tags": ["customer-controller"],
        "operationId": "customerMe",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResCustomerMe"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customer/get/{uuid}": {
      "get": {
        "tags": ["customer-controller"],
        "operationId": "getCustomerByUuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResCustomerOne"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customer/get/list": {
      "get": {
        "tags": ["customer-controller"],
        "operationId": "getAllCustomers",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomPageResCustomerOne"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/category/get/{uuid}": {
      "get": {
        "tags": ["category-controller"],
        "operationId": "getByUuid_4",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResCategoryOne"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/category/get/{uuid}/filters": {
      "get": {
        "tags": ["category-controller"],
        "operationId": "getFiltersByCategoryUuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResFilterGroupWithFilters"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/category/get/tree": {
      "get": {
        "tags": ["category-controller"],
        "operationId": "getTree",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CategoryTreeResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/category/get/list": {
      "get": {
        "tags": ["category-controller"],
        "operationId": "getAll_4",
        "parameters": [
          {
            "name": "parentId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResCategoryOne"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/authorization/role/get/{uuid}": {
      "get": {
        "tags": ["authorization-controller"],
        "operationId": "getRoleById",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResUserRoleOne"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/authorization/role/get/list": {
      "get": {
        "tags": ["authorization-controller"],
        "operationId": "getAllRoles",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResUserRoleOne"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/authorization/permission/get/list": {
      "get": {
        "tags": ["authorization-controller"],
        "operationId": "getAllPermissions",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResUserPermissionOne"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/attribute/get/{uuid}": {
      "get": {
        "tags": ["attribute-controller"],
        "operationId": "getByUuid_5",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResAttributeOne"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/attribute/get/list": {
      "get": {
        "tags": ["attribute-controller"],
        "operationId": "getAll_5",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomPageResAttributeOne"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/attribute/get/list/by-group": {
      "get": {
        "tags": ["attribute-controller"],
        "operationId": "getAllByAttributeGroupUuid",
        "parameters": [
          {
            "name": "attributeGroupUuid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResAttributeOne"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/attribute-group/get/{uuid}": {
      "get": {
        "tags": ["attribute-group-controller"],
        "operationId": "getByUuid_6",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResAttributeGroupOne"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/attribute-group/get/list": {
      "get": {
        "tags": ["attribute-group-controller"],
        "operationId": "getAll_6",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomPageResAttributeGroupOne"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/advertisement/get/{uuid}": {
      "get": {
        "tags": ["advertisement-controller"],
        "operationId": "getByUuid_7",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResAdvertisementOne"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/advertisement/get/list": {
      "get": {
        "tags": ["advertisement-controller"],
        "operationId": "getAll_7",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "isActive",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomPageResAdvertisementOne"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/me": {
      "get": {
        "tags": ["admin-controller"],
        "operationId": "adminMe",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResAdminMe"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/get/{uuid}": {
      "get": {
        "tags": ["admin-controller"],
        "operationId": "getAdminByUuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResAdminOne"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/get/list": {
      "get": {
        "tags": ["admin-controller"],
        "operationId": "getAllAdmins",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomPageResAdminOne"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/address/get/list/regions": {
      "get": {
        "tags": ["address-controller"],
        "operationId": "getAllRegions",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResRegionOne"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/address/get/list/regions/{regionUuid}/districts": {
      "get": {
        "tags": ["address-controller"],
        "operationId": "getAllDistrictsByRegionUuid",
        "parameters": [
          {
            "name": "regionUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResDistrictOne"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/product/delete/{uuid}": {
      "delete": {
        "tags": ["product-controller"],
        "operationId": "delete_1",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/filter/delete/{uuid}": {
      "delete": {
        "tags": ["filter-controller"],
        "operationId": "delete_2",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/filter-group/delete/{uuid}": {
      "delete": {
        "tags": ["filter-group-controller"],
        "operationId": "delete_3",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/category/delete/{uuid}": {
      "delete": {
        "tags": ["category-controller"],
        "operationId": "delete_4",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/authorization/role/delete/{uuid}": {
      "delete": {
        "tags": ["authorization-controller"],
        "operationId": "deleteRole",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/attribute/delete/{uuid}": {
      "delete": {
        "tags": ["attribute-controller"],
        "operationId": "delete_5",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/attribute-group/delete/{uuid}": {
      "delete": {
        "tags": ["attribute-group-controller"],
        "operationId": "delete_6",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/advertisement/delete/{uuid}": {
      "delete": {
        "tags": ["advertisement-controller"],
        "operationId": "delete_7",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResStringMessage"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ReqSellerUpdate": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "fullName": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "nds": {
            "type": "boolean"
          },
          "yatt": {
            "type": "boolean"
          },
          "isMonthlyCalculation": {
            "type": "boolean"
          },
          "companyName": {
            "type": "string"
          },
          "inn": {
            "type": "string"
          },
          "requisite": {
            "type": "string"
          },
          "regionUuid": {
            "type": "string",
            "format": "uuid"
          },
          "userStatus": {
            "type": "string",
            "enum": ["ACTIVE", "INACTIVE", "BLOCKED"]
          }
        }
      },
      "ResStringMessage": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "LocalizedText": {
        "type": "object",
        "properties": {
          "ru": {
            "type": "string"
          },
          "uzl": {
            "type": "string"
          },
          "uzc": {
            "type": "string"
          }
        }
      },
      "ReqProductUpdate": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "description": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "shortDescription": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "model": {
            "type": "string"
          },
          "skuCode": {
            "type": "string"
          },
          "realPrice": {
            "type": "number",
            "format": "double"
          },
          "ikpyCode": {
            "type": "integer",
            "format": "int32"
          },
          "quantity": {
            "type": "integer",
            "format": "int32"
          },
          "minQuantity": {
            "type": "integer",
            "format": "int32"
          },
          "decStock": {
            "type": "boolean"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "width": {
            "type": "number",
            "format": "double"
          },
          "height": {
            "type": "number",
            "format": "double"
          },
          "length": {
            "type": "number",
            "format": "double"
          },
          "weight": {
            "type": "number",
            "format": "double"
          },
          "lengthType": {
            "type": "string",
            "enum": ["MM", "CM", "M", "KM"]
          },
          "weightType": {
            "type": "string",
            "enum": ["GR", "KG", "T"]
          },
          "categoryUuid": {
            "type": "string",
            "format": "uuid"
          },
          "sellerUuid": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "ReqFilterUpdate": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "iconUrl": {
            "type": "string"
          },
          "orderNumber": {
            "type": "integer",
            "format": "int32"
          },
          "filterGroupUuid": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "ReqFilterGroupUpdate": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "orderNumber": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ReqCustomerUpdate": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "middleName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "birthDate": {
            "type": "string",
            "format": "date"
          },
          "gender": {
            "type": "string",
            "enum": ["MALE", "FEMALE", "OTHER"]
          }
        }
      },
      "ReqCategoryUpdate": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "description": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "contentDescription": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "iconUrl": {
            "type": "string"
          },
          "bannerUrl": {
            "type": "string"
          },
          "percent": {
            "type": "number",
            "format": "double"
          },
          "ceoContent": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "status": {
            "type": "string",
            "enum": ["ACTIVE", "INACTIVE"]
          },
          "orderNumber": {
            "type": "integer",
            "format": "int32"
          },
          "parentCategoryUuid": {
            "type": "string",
            "format": "uuid"
          },
          "filterUuids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "ReqUserRoleUpdate": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "permissionIdList": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      },
      "ReqAttributeUpdate": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "isMain": {
            "type": "boolean"
          },
          "orderNumber": {
            "type": "integer",
            "format": "int32"
          },
          "attributeGroupUuid": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "ReqAttributeGroupUpdate": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "orderNumber": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ReqAdvertisementUpdate": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "link": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean"
          }
        }
      },
      "ReqAdminUpdate": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "ReqSellerInit": {
        "type": "object",
        "properties": {
          "phoneNumber": {
            "type": "string"
          }
        }
      },
      "ReqSellerConfirm": {
        "type": "object",
        "properties": {
          "phoneNumber": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      },
      "ReqProductCreate": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "description": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "shortDescription": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "model": {
            "type": "string"
          },
          "skuCode": {
            "type": "string"
          },
          "realPrice": {
            "type": "number",
            "format": "double"
          },
          "ikpyCode": {
            "type": "integer",
            "format": "int32"
          },
          "quantity": {
            "type": "integer",
            "format": "int32"
          },
          "minQuantity": {
            "type": "integer",
            "format": "int32"
          },
          "decStock": {
            "type": "boolean"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "width": {
            "type": "number",
            "format": "double"
          },
          "height": {
            "type": "number",
            "format": "double"
          },
          "length": {
            "type": "number",
            "format": "double"
          },
          "weight": {
            "type": "number",
            "format": "double"
          },
          "lengthType": {
            "type": "string",
            "enum": ["MM", "CM", "M", "KM"]
          },
          "weightType": {
            "type": "string",
            "enum": ["GR", "KG", "T"]
          },
          "categoryUuid": {
            "type": "string",
            "format": "uuid"
          },
          "sellerUuid": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "ReqProductCalculatePrice": {
        "type": "object",
        "properties": {
          "realPrice": {
            "type": "number",
            "format": "double"
          },
          "categoryUuid": {
            "type": "string",
            "format": "uuid"
          },
          "sellerUuid": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "ResProductCalculatePrice": {
        "type": "object",
        "properties": {
          "realPrice": {
            "type": "number",
            "format": "double"
          },
          "customPrice": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "ReqFilterCreate": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "iconUrl": {
            "type": "string"
          },
          "orderNumber": {
            "type": "integer",
            "format": "int32"
          },
          "filterGroupUuid": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "ReqFilterGroupCreate": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "orderNumber": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ResFileOne": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string"
          },
          "objectName": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "size": {
            "type": "integer",
            "format": "int64"
          },
          "contentType": {
            "type": "string"
          }
        }
      },
      "ReqDeleteItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ReqCategoryCreate": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "description": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "contentDescription": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "iconUrl": {
            "type": "string"
          },
          "bannerUrl": {
            "type": "string"
          },
          "percent": {
            "type": "number",
            "format": "double"
          },
          "ceoContent": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "status": {
            "type": "string",
            "enum": ["ACTIVE", "INACTIVE"]
          },
          "orderNumber": {
            "type": "integer",
            "format": "int32"
          },
          "parentCategoryUuid": {
            "type": "string",
            "format": "uuid"
          },
          "filterUuids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "ReqUserRoleCreate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "permissionIdList": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      },
      "ReqTokenRefresh": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          }
        }
      },
      "ResSignIn": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "accessTokenExpire": {
            "type": "integer",
            "format": "int64"
          },
          "refreshToken": {
            "type": "string"
          },
          "refreshTokenExpire": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ReqSignInForCustomer": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      },
      "ReqSignInForAdmin": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "ReqAttributeCreate": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "isMain": {
            "type": "boolean"
          },
          "orderNumber": {
            "type": "integer",
            "format": "int32"
          },
          "attributeGroupUuid": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "ReqAttributeGroupCreate": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "orderNumber": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ReqAdvertisementCreate": {
        "type": "object",
        "properties": {
          "link": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean"
          }
        }
      },
      "ResSellerOne": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "userUuid": {
            "type": "string",
            "format": "uuid"
          },
          "fullName": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "nds": {
            "type": "boolean"
          },
          "yatt": {
            "type": "boolean"
          },
          "isMonthlyCalculation": {
            "type": "boolean"
          },
          "companyName": {
            "type": "string"
          },
          "inn": {
            "type": "string"
          },
          "requisite": {
            "type": "string"
          },
          "regionUuid": {
            "type": "string",
            "format": "uuid"
          },
          "userStatus": {
            "type": "string",
            "enum": ["ACTIVE", "INACTIVE", "BLOCKED"]
          }
        }
      },
      "CustomPageResSellerOne": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResSellerOne"
            }
          },
          "paginationData": {
            "$ref": "#/components/schemas/PaginationData"
          }
        }
      },
      "PaginationData": {
        "type": "object",
        "properties": {
          "numberOfElements": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "currentPageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ResProductOne": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "description": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "shortDescription": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "model": {
            "type": "string"
          },
          "skuCode": {
            "type": "string"
          },
          "customPrice": {
            "type": "number",
            "format": "double"
          },
          "realPrice": {
            "type": "number",
            "format": "double"
          },
          "ikpyCode": {
            "type": "integer",
            "format": "int32"
          },
          "quantity": {
            "type": "integer",
            "format": "int32"
          },
          "minQuantity": {
            "type": "integer",
            "format": "int32"
          },
          "decStock": {
            "type": "boolean"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "width": {
            "type": "number",
            "format": "double"
          },
          "height": {
            "type": "number",
            "format": "double"
          },
          "length": {
            "type": "number",
            "format": "double"
          },
          "weight": {
            "type": "number",
            "format": "double"
          },
          "lengthType": {
            "type": "string",
            "enum": ["MM", "CM", "M", "KM"]
          },
          "weightType": {
            "type": "string",
            "enum": ["GR", "KG", "T"]
          },
          "categoryUuid": {
            "type": "string",
            "format": "uuid"
          },
          "sellerUuid": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "CustomPageResProductOne": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResProductOne"
            }
          },
          "paginationData": {
            "$ref": "#/components/schemas/PaginationData"
          }
        }
      },
      "ResFilterOne": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "iconUrl": {
            "type": "string"
          },
          "orderNumber": {
            "type": "integer",
            "format": "int32"
          },
          "filterGroupUuid": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "CustomPageResFilterOne": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResFilterOne"
            }
          },
          "paginationData": {
            "$ref": "#/components/schemas/PaginationData"
          }
        }
      },
      "ResFilterGroupOne": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "orderNumber": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "CustomPageResFilterGroupOne": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResFilterGroupOne"
            }
          },
          "paginationData": {
            "$ref": "#/components/schemas/PaginationData"
          }
        }
      },
      "ResCustomerMe": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "middleName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "birthDate": {
            "type": "string",
            "format": "date"
          },
          "gender": {
            "type": "string",
            "enum": ["MALE", "FEMALE", "OTHER"]
          },
          "userUuid": {
            "type": "string",
            "format": "uuid"
          },
          "username": {
            "type": "string"
          },
          "roleUuid": {
            "type": "string",
            "format": "uuid"
          },
          "roleName": {
            "type": "string"
          },
          "lang": {
            "type": "string",
            "enum": ["UZB", "RUS", "ENG"]
          },
          "status": {
            "type": "string",
            "enum": ["ACTIVE", "INACTIVE", "BLOCKED"]
          }
        }
      },
      "ResCustomerOne": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "middleName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "birthDate": {
            "type": "string",
            "format": "date"
          },
          "gender": {
            "type": "string",
            "enum": ["MALE", "FEMALE", "OTHER"]
          },
          "userUuid": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "CustomPageResCustomerOne": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResCustomerOne"
            }
          },
          "paginationData": {
            "$ref": "#/components/schemas/PaginationData"
          }
        }
      },
      "ResCategoryOne": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "description": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "contentDescription": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "iconUrl": {
            "type": "string"
          },
          "bannerUrl": {
            "type": "string"
          },
          "percent": {
            "type": "number",
            "format": "double"
          },
          "ceoContent": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "status": {
            "type": "string",
            "enum": ["ACTIVE", "INACTIVE"]
          },
          "orderNumber": {
            "type": "integer",
            "format": "int32"
          },
          "parentCategoryUuid": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "ResFilterGroupWithFilters": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "orderNumber": {
            "type": "integer",
            "format": "int32"
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResFilterOne"
            }
          }
        }
      },
      "CategoryTreeResponse": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "description": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "contentDescription": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "iconUrl": {
            "type": "string"
          },
          "bannerUrl": {
            "type": "string"
          },
          "percent": {
            "type": "number",
            "format": "double"
          },
          "ceoContent": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "status": {
            "type": "string",
            "enum": ["ACTIVE", "INACTIVE"]
          },
          "orderNumber": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ResUserPermissionOne": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          }
        }
      },
      "ResUserRoleOne": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "roleName": {
            "type": "string"
          },
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResUserPermissionOne"
            }
          }
        }
      },
      "ResAttributeOne": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "isMain": {
            "type": "boolean"
          },
          "orderNumber": {
            "type": "integer",
            "format": "int32"
          },
          "attributeGroupUuid": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "CustomPageResAttributeOne": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResAttributeOne"
            }
          },
          "paginationData": {
            "$ref": "#/components/schemas/PaginationData"
          }
        }
      },
      "ResAttributeGroupOne": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "$ref": "#/components/schemas/LocalizedText"
          },
          "orderNumber": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "CustomPageResAttributeGroupOne": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResAttributeGroupOne"
            }
          },
          "paginationData": {
            "$ref": "#/components/schemas/PaginationData"
          }
        }
      },
      "ResAdvertisementOne": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "link": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean"
          }
        }
      },
      "CustomPageResAdvertisementOne": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResAdvertisementOne"
            }
          },
          "paginationData": {
            "$ref": "#/components/schemas/PaginationData"
          }
        }
      },
      "ResAdminMe": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "userUuid": {
            "type": "string",
            "format": "uuid"
          },
          "username": {
            "type": "string"
          },
          "roleUuid": {
            "type": "string",
            "format": "uuid"
          },
          "roleName": {
            "type": "string"
          },
          "lang": {
            "type": "string",
            "enum": ["UZB", "RUS", "ENG"]
          },
          "status": {
            "type": "string",
            "enum": ["ACTIVE", "INACTIVE", "BLOCKED"]
          },
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResUserPermissionOne"
            }
          }
        }
      },
      "ResAdminOne": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "userUuid": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "CustomPageResAdminOne": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResAdminOne"
            }
          },
          "paginationData": {
            "$ref": "#/components/schemas/PaginationData"
          }
        }
      },
      "ResRegionOne": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "ResDistrictOne": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "regionUuid": {
            "type": "string",
            "format": "uuid"
          }
        }
      }
    }
  }
}